<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>borgdir.media | Warenkorb</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/borgdir.media.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
</head>
<body>

<!-- HEADER -->

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand col-lg-4 topName" href="index.html">borgdir.media</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-lg-4" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item  active">
                    <a class="nav-link" href="equipment.html">Equipment<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="my-equipment.html">Meine Geräte</a>
                </li>
                <li class="nav-item">
                    <form action="/logout.html" method="post">
                        <button type="submit" class="nav-link btn btn-link" value="Logout">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-lg-1">
            <a href="#" class="nav-link">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="profile.html" class="nav-link text-right">
                <span style="white-space: nowrap;">{{.User.Name}}<br/></span>
                <span class="impText">{{.User.UserLevel}}</span>
            </a>
        </div>
        <div class="col-lg-1">
            <a href="profile.html" class="nav-link">
                <img class="rounded-circle"
                     src="{{.User.ProfileImageSRC}}"
                     alt="Generic placeholder image" width="50" height="50">
            </a>
        </div>
    </nav>
</header>

<!-- BODY CONTENT-->

<main role="main">

    <!-- START CONTAINER -->

    <div class="container-fluid" id="FirstContainer">
        <div class="row" id="FirstRow">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 mb-5 text-left">
                <span class="welcomeMessage">Warenkorb</span>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="container-fluid">
        <!--Warenkorbliste-->
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <table class="table table-hover table-responsive-lg">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Equipment</th>
                        <th scope="col">Beschreibung</th>
                        <th scope="col">Anzahl</th>
                        <th scope="col">Rückgabe bis</th>
                        <th scope="col">Löschen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .Equipment}}
                    <tr>
                        <td scope="row" class="float-left">
                            <img class="img-fluid"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                 alt="Generic placeholder image" width="50" height="50">
                            <div class="ml-5 float-right text-left">
                                <h4>{{.Name}}</h4>
                                <span class="text-info">Inv.-Nr. {{.InvID}}</span>
                            </div>
                        </td>
                        <td class="descText">{{.Desc}}
                        </td>
                        <td>
                            <div class="input-group spinner cartSpinner">
                                <input type="text" class="form-control" value="1" min="0" max="5">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="text-left pl-3">
                            Rückgabe:<br/>
                            <span class="text-info">{{$.ReturnDate.Format "02 Jan 06 15:04 MST"}}</span>
                        </td>
                        <td>
                            <form action="/cart-del.html" method="post">
                                <button type="button" class="btn btn-secondary" name="{{.InvID}}">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-2">
            {{if eq .User.Name "Gast"}}
                <a href="/login.html" class="btn btn-secondary">Zum Ausleihen einloggen</a>
            {{else}}
                <form action="/cart-rent.html" method="post">
                    <button type="sumbmit" class="btn btn-primary">Jetzt ausleihen</button>
                </form>
            {{end}}
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="container mt-5">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Philipp Kalytta &middot; <a href="#">Contact</a> &middot; <a href="#">Terms</a></p>
    </footer>

</main>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../static/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../js/vendor/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>