<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>borgdir.media | Administrationsbereich</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../css/borgdir.media.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
</head>
<body>

<!-- HEADER -->

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand col-lg-4 topName" href="index.html">borgdir.media</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-lg-4" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="equipment.html">Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Kunden<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <!--TODO: Add logout process-->
                    <a class="nav-link" href="../index.html">Logout</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <a href="profile.html" class="nav-link text-right">
                <span style="white-space: nowrap;">{{.User.Name}}<br/></span>
                <span class="impText">{{.User.UserLevel}}</span>
            </a>
        </div>
        <div class="col-lg-1">
            <a href="profile.html" class="nav-link">
                <img class="rounded-circle"
                     src="{{.User.ProfileImageSRC}}"
                     alt="Generic placeholder image" width="50" height="50">
            </a>
        </div>
    </nav>
</header>

<!-- BODY CONTENT-->

<main role="main">

    <!-- START CONTAINER -->
    <div class="container-fluid" id="FirstContainer">
        <div class="row" id="FirstRow">
            <div class="col-lg-1"></div>
            <div class="col-3 mb-5 text-left">
                <span class="welcomeMessage">Benutzer verwalten</span>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="container-fluid ">
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-lg-2">
                <form>
                    <input type="text" class="form-control" id="search" placeholder="Suche">
                </form>

            </div>
            <div class="col-lg-1 dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownKatMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kategorie
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownKatMenuButton">
                    <a class="dropdown-item" href="#">Kat1</a>
                    <a class="dropdown-item" href="#">Kat2</a>
                    <a class="dropdown-item" href="#">Kat3</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!--Warenkorbliste-->
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <table class="table table-hover table-responsive-lg">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Kunde</th>
                        <th scope="col">Ausgeliehenes Equipment</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .AdminUserList}}
                    <tr>
                        <td class="float-left">
                            <img class="img-fluid"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                 alt="Generic placeholder image" width="50" height="50">
                            <div class="ml-5 float-right text-left">
                                <h4>{{.Name}}</h4>
                                <span class="text-info">ID: {{.UserID}}</span>
                                <br/>
                                <span class="text-warning">Benutzer</span>
                            </div>
                        </td>
                        <td class="descText">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                            suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </td>
                        {{if eq .Blocked false}}
                        <td class="text-left pl-3">
                            Konto aktiv bis:<br/>
                            <span class="text-info">{{.ActiveUntilDate}}</span>
                        </td>
                        {{else}}
                        <td class="text-left pl-3">
                            <span class="text-warning">Gesperrt</span>
                        </td>
                        {{end}}
                        <td>
                            <a href="edit-client.html">
                                <button type="button" class="btn btn-secondary">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="container-fluid">
        <!--Leihliste-->
    </div>

    <!-- FOOTER -->
    <footer class="container mt-5">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Philipp Kalytta &middot; <a href="#">Contact</a> &middot; <a href="#">Terms</a></p>
    </footer>

</main>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../static/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../js/vendor/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>