<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>borgdir.media | Administrationsbereich</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../css/borgdir.media.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
</head>
<body>

<!-- HEADER -->

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand col-lg-4 topName" href="index.html">borgdir.media</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-lg-4" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="equipment.html">Equipment</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="clients.html">Kunden<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <form action="/logout.html" method="post">
                        <button type="submit" class="nav-link btn btn-link" value="Logout">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <a href="profile.html" class="nav-link text-right">
                <span style="white-space: nowrap;">{{.User.Name}}<br/></span>
                <span class="impText">{{.User.UserLevel}}</span>
            </a>
        </div>
        <div class="col-lg-1">
            <a href="profile.html" class="nav-link">
                <img class="rounded-circle"
                     src="{{.User.ProfileImageSRC}}"
                     alt="Generic placeholder image" width="50" height="50">
            </a>
        </div>
    </nav>
</header>

<!-- BODY CONTENT-->

<main role="main">

    <!-- START CONTAINER -->

    <div class="container-fluid" id="FirstContainer">
        <div class="row" id="FirstRow">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 mb-5 text-left">
                <span class="welcomeMessage">Profil bearbeiten</span>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="container-fluid">
    {{range .AdminUserList}}
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 mb-5 text-left">
                <h6>Kunden-ID: <span class="text-info">{{.UserID}}</span></h6>Status: <span
                    class="text-info">{{.UserLevel}}</span></h6>
            </div>
        </div>
        <form action="edited-client.html" method="post">
            <div class="row justify-content-center">
                <div class="col-lg-4 text-left">
                    <div class="form-group">
                        <label for="changeUsername">Benutzername</label>
                        <input type="text" class="form-control" id="changeUsername"
                               placeholder="{{.Name}}" name="username">
                    </div>
                    <div class="form-group">
                        <label for="changeEmail">Email-Adresse</label>
                        <input type="email" class="form-control" id="changeEmail"
                               placeholder="{{.Email}}" autocomplete="email" name="email">
                    </div>
                    <div class="form-group mt-5">
                        <label for="newPassword">Neues Passwort</label>
                        <input type="password" class="form-control" id="newPassword"
                               placeholder="Neues Passwort" name="password1">
                    </div>
                    <div class="form-group">
                        <label for="newPasswordConfirm">Neues Passwort wiederholen</label>
                        <input type="password" class="form-control" id="newPasswordConfirm"
                               placeholder="Neues Passwort wiederholen" name="password2">
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <p class="font-italic">Profilbild</p>
                    <img class="img-fluid"
                         src="{{.ProfileImageSRC}}"
                         alt="Generic placeholder image" width="400px" max-height="300px">
                    <div class="float-right">
                        <div class="form-group" style="width: 400px;">
                            <input type="file" class="form-control" id="inputProfilepic" placeholder="Bild hochladen"
                                   name="image">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {{end}}
    </div>

    <div class="container">
        <div class="col">
            <button type="submit" class="btn btn-primary">Änderungen speichern</button>
        {{range .AdminUserList}}
            <form action="block.html" method="post">
                <button type="button" class="btn btn-danger" value="{{.UserID}}" name="userid">Konto sperren</button>
            </form>
        {{end}}
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="container mt-5">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Philipp Kalytta &middot; <a href="#">Contact</a> &middot; <a href="#">Terms</a></p>
    </footer>

</main>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../static/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../js/vendor/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>